 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
 
 $arrow-box-size: 25vw;

body{
    font-family: "Open Sans";
    text-align: center;
    font-size: 4vw;
}

h1{
    font-size: 10vw;
}
.instructions{
    input{
        font-size: 4vw;
        width: 2em;
    }
}

#stop-go-button{
    font-size: 8vw;
}

.arrows{
    width: 90%;
    margin: 5vw auto;
    text-align: center;
    font-size: 0; // to fix the whitespace issue
}

.arrow{
    display: inline-block;
    width: $arrow-box-size;
    height: $arrow-box-size;
    border-radius: 5px;
    font-size: 16vw;
    &.left{
        margin-right: 12.5vw;
    }
    &.right{
        margin-left: 12.5vw;
    }
}